<?php

use October\Rain\Support\Facades\Form;

/**
 * @var \GromIT\Tenancy\ReportWidgets\CurrentTenant $this
 * @var \Backend\Widgets\Form                               $form
 */

$langKey = 'gromit.tenancy::lang.report_widgets.current_tenant';
?>
<?= Form::open() ?>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="popup">×</button>
    <h4 class="modal-title">
        <?= __("{$langKey}.choose_form.popup_title") ?>
    </h4>
</div>
<div class="modal-body">
    <?= Form::sessionKey() ?>
    <?= $form->render() ?>
</div>
<div class="modal-footer">
    <div class="loading-indicator-container">
        <button data-load-indicator="&nbsp;"
                data-request="<?= $this->getEventHandler('onOverride') ?>"
                data-request-validate
                data-popup-load-indicator="1"
                type="submit" class="btn btn-primary oc-icon-check">
            <?= __("{$langKey}.choose_form.choose_btn") ?>
        </button>
        <button type="button" class="btn btn-default oc-icon-remove" data-dismiss="popup">
            <?= __("{$langKey}.choose_form.cancel_btn") ?>
        </button>
    </div>
</div>