<?php
/**
 * @var \GromIT\Tenancy\Controllers\Tenants|\Backend\Behaviors\RelationController $this
 * @var string                                                                            $formContext
 */
?>
<?php if ($formContext === 'update'): ?>
    <?= $this->relationRender('domains') ?>
<?php elseif ($formContext === 'create'): ?>
    <p class="flash-message static info">
        <?= __('gromit.tenancy::lang.controllers.tenants.partials.tenant.fields.domains_create.message') ?>
    </p>
<?php endif ?>